@import '../../styles/variables';

.ntc-logo {
  width: 300px;
  height: 300px;
  display: inline-block;
  background: linear-gradient(45deg, $primary, $secondary);
  position: relative;
  max-width: 100%;
  mask-image: url('../../assets/images/logo.png');
  mask-size: cover;
  mask-repeat: no-repeat;
}
