@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap';
@import '~@catppuccin/palette/scss/mocha';

$font-family-base: 'Poppins', sans-serif;
$body-bg: $base;
$primary: $mauve;
$secondary: $blue;
$success: $green;
$info: $blue;
$warning: $peach;
$danger: $red;
$light: $overlay2;
$dark: $surface0;

@import '../../node_modules/bootstrap/scss/bootstrap';

h1 {
  color: $text;
}
